{
    "useTabs": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte",
                "printWidth": 100
            }
        },
        {
            "files": "*.md",
            "options": {
                "parser": "markdown",
                "printWidth": 79
            }
        }
    ]
}