.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
.changeset/
.prettierrc
package.json
.vercel
.contentlayer
.velite
dist

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
docs/src/lib/content/api-reference/extended-types/**/*
./src/routes/api/search.json/search.json