name: Production Deployment
on:
    push:
        branches:
            - main
        paths:
            - docs/**
            - packages/bits-ui/**

jobs:
    deploy-production:
        runs-on: macos-latest
        permissions:
            contents: read
            deployments: write
        name: Deploy Production Site to Cloudflare Pages
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile --prefer-offline

            - name: Build site
              run: pnpm build

            - name: Deploy to Cloudflare Pages
              uses: AdrianGonz97/refined-cf-pages-action@v1
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
                  accountId: ${{ secrets.CF_ACCOUNT_ID }}
                  githubToken: ${{ secrets.GITHUB_TOKEN }}
                  projectName: bits-ui
                  directory: ./.svelte-kit/cloudflare
                  workingDirectory: docs
                  deploymentName: Production
